{% extends 'base.html' %}
{% block content %}

<main>
    <div class="container">
        <div class="row">

           {{ company }}


            <div class="col-12">
                <h1>{{ page_title }}</h1>
                <p>Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.</p>
            </div>
        </div>
    </div>
 </main>
    <div class="row">
        <div class="col-7">
            <h2 class="p-3 mx-3">Thorin Oakenshield</h2>
            
            <p  class="p-3 mx-3">Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his youth,
                Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug, in TA 2770. While in
                exile, he quickly grew into a capable warrior. This was demonstrated at the Battle of Azanulbizar, near Moria, in TA
                2799. He fought with one of the Dwarven armies beneath Moria's East-gate, and at some point in the battle, his
                shield broke, and, using an oaken tree branch found on the ground as a shield, he gained the epithet "Oakenshield,"
                which remained with him even in death.[2]
            
                Thorin became King-in-Exile of Durin's Folk in TA 2850, after his father went missing and died in the dungeons of
                Dol Guldur.
            
            </p>
        </div>
        <div class="col-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/1/16/Thorin_2.jpg" alt="">
        </div>
    </div>
{% endblock %}