{% extends 'base.html' %}
{% block content %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{{ page_title }}</h1>
                <p>Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.Discover the rich and fascinating history of [Your Organization/Place]. From its humble beginnings to its
                    remarkable milestones, our journey reflects resilience, innovation, and growth. Explore the stories,
                    events, and people that shaped our legacy and continue to inspire us today. Dive into the past and
                    uncover the roots of our enduring success.</p>
            </div>
        </div>
    </div>    
 </main>

    {% for member in company %}
        <div class="row featurette">
            {% if loop.index % 2 != 0 %}
                <div class="col-md-7">
                    <h2 class="p-3 mx-3">
                        {{ loop.index }}. {{ member.name }}</h2>
                    
                    <p  class="p-3 mx-3">{{ member.description }}</p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" class="featurette-image image-responsive" alt="">
                </div>

            {% else %}
            
                <div class="col-md-5">
                    <img src="{{ member.image_source }}" class="featurette-image image-responsive" alt="">
                </div>

                <div class="col-md-7">
                    <h2 class="p-3 mx-3">
                        {{ loop.index }}. {{ member.name }}</h2>
                    
                    <p  class="p-3 mx-3">{{ member.description }}</p>
                </div>
            {% endif %}
        </div>

        {% if loop.index != loop.length %}
            <hr class="featurette-divider">
        {% endif %}
        
    {% endfor  %}
{% endblock %}